<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="socket.js"></script>
    <title>Dashboard</title>
</head>

<body>
	<body>
      
        <h1> Welcome, you are logged in as User ID: <%= session.user_id%></h1>
        <a href="/logout">Logout</a>
    </body>
</body>
</html>