<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
</head>
<body>
    <h1>Amazing Cars Page</h1>
    <p><a href="/cars/new"> Form to Add a New Car</a></p>
    <img src="../images/ducati.jpeg" alt="smoking cat">
    <img src="../images/lambo.jpeg" alt="smoking cat">
    
</body>
</html>