<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form to add new car</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
</head>
<body>
    <h1>Form to add a new car </h1>
    <form>
        <label for="new_car">Add New Car</label>
        <input type="text" name="new_car" id= "new_car"><br><br>
        <label for="desc">Description</label>
        <input type="text" name="desc" id= "desc"><br><br>
        <input type = "submit" value = "submit">
    </form>
</body>
</html>