h1, h2, h3, h4{
    color:purple;
}
body{
    background-color: papayawhip;
}
button{
    background-color: purple;
    border-radius: 10px;
    border: 2px salmon solid;
  
    padding:5px;
}
a {
    color:white;
    text-decoration: none;
}