<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Index EJS</title>
</head>
<body>
    <div class= "container">
        <% for (var user in users) { %>
            <h3>ID:<%= users[user].id %></h3>
            <h3>Name:<%= users[user].name %></h3>
            <h4>Email:<%= users[user].email %></h4>
            <hr>
        <% } %>
    </div>
    <div>
        <h1>Form to Create a New User</h1>
        <form action ="/users" method ="post"> 
            <form action='/users' method='post'>
                Name: <input type='text' name='name'><br>
                Email: <input type='text' name='email'><br>
                <input type='submit' value='create user'>
            </form>
    </div>

</body>
</html>