body{
    background-color: papayawhip;
}
img{
    height: 500px;
    width:500px;
    display:inline-block;
}
.container{
    background-color: papayawhip;
}
.content{
display: inline-block;
vertical-align: top;
}