<html>

<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="socket.js"></script>
</head>

<body>
    <!-- web page goes here -->
    <div>
    <button id="newEvent">Emit an Event</button>
    </div>
    <div id="notes"> 
    </div>
    <form>
        <div>
        <label>Name</label>
        <input id="name" type= "name" name="name">
       </div>
       <input type="submit" value="submit">
    </form>
    
</body>

</html>