body{
    background-color: peachpuff;
    
}
h1, h2{
    color: brown;
}
p {
 color: brown;
}

label{
    color: brown;
}
input[type="submit"]{
    background-color: papayawhip;
    border: 2px salmon solid;
    color: brown;
    border-radius: 5px;
}
button{
    background-color: papayawhip;
    border-radius: 10px;
    border: 2px salmon solid;
    padding:5px;
}
a {
    color:brown;
    text-decoration: none;
}