<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="socket.js"></script>
</head>

<body>
    <div>
        <h3><%=lion._id%></h3>
        <h3><%=lion.name%></h3>
        <h3><%=lion.age%></h3>
        <hr>
    </div>
    <button><a href="/">Go Back</a></button>
</body>

</html>