<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Results</title>
</head>
<body>
    <h1>Submitted Information</h1>
    <h2>Name:<%=name %></h2>
    <h2>Location:<%=location%></h2>
    <h2>Language:<%=language%></h2>
    <h2>Comment:<%=comment%></h2>
    <button><a href="/">Go Back</a></button>
    <hr>
</body>
</html>