<div class="container">
  <div class="left">
    <h2>Register</h2>
    <form (submit)= "onSubmit()">
      <p>{{newUser| json}} </p>
      <div>
        <label>First Name:</label>
        <input type="text" name="newUser.first_name" [(ngModel)]="newUser.first_name">
      </div>
      <div>
        <label>Last Name:</label>
        <input type="text" name="newUser.last_name" [(ngModel)]="newUser.last_name">
      </div>
      <div>
        <label>Email</label>
        <input type="text" name="newUser.email" [(ngModel)]="newUser.email">
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="newUser.password" [(ngModel)]="newUser.password">
      </div>
      <div>
        <label>Password Confirmation</label>
        <input type="password" name="newUser.password_confirmation" [(ngModel)]="newUser.password_confirmation">
      </div>
      <input type="submit" value="submit">
    </form>
  </div>
  <div class="right">
    <h2>Login</h2>
    <form (submit)= "onLogin()">
      <div>
        <label>Email</label>
        <input type="text" name="loginUser.email" [(ngModel)]="loginUser.email">
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="loginUser.password" [(ngModel)]="loginUser.password">
      </div>
      <input type="submit" value="submit">
    </form>
  </div>
</div>
